* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #303138;

  background-image: linear-gradient(20deg, #324172, #13192126),
    linear-gradient(to bottom, #0F1D3D, #263D4C45),
    linear-gradient(to bottom, #1D3244, #1E20288C);
  /* background-blend-mode: initial,
     color-dodge; */
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: bottom right,
    left,
    right;
}

.app-button {
  padding: 8px 32px;
  color: #374467;
  font-size: 1.2em;
  font-weight: 700;
  background: #F0F0F0;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 12px 2px #2A3F84BA;
  text-decoration: wavy;
}

.app-button.large {
  width: 100%;
  padding: 12px 64px;
}

.app-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.app-form input[type=text] {
  padding: 8px;
  font-size: 18px;
  width: 100%;
  /* height: 100%; */
}

#app-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px;
  padding: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #EBEBED;
}

#app-header-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;

}

#app-body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  /* background: #22193733; */
  /* border: 1px solid #EAEAEA; */
  overflow: hidden;
  overflow: scroll;
}


#chat-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  /* background: #973391; */
}

#chat-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 100%;
  padding: 16px;
}

/* .chat-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100px;
  background: #CD7348;
} */
.chat-list-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  gap: 8px;
  width: 100%;
  min-height: min-content;
  padding: 16px;
  background: #1B2131;
  border: 1px solid #DCDDDE42;
  color: #EBEBED;
  border-radius: 6px;
  overflow: hidden;
  filter: contrast(105%)
}

.chat-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  /* width: 100%; */

  /* height: 100%; */
  font-size: 18px;
  font-weight: 600;
}

.chat-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  /* width: 100%; */

  /* height: 100%; */
  font-size: 16px;
  font-style: italic;
}

#chatMessages {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 8px;
}


#app-footer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 0px;

  width: 100%;
  height: 100%;
  background: #161A34;

  overflow: hidden;
}

#inputMenu {
  /* padding: 6px; */
}

#inputContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 40px 1fr 40px;
  /* gap: 6px; */
  padding: 4px 4px;
  background: #FFFFFF;
}

#inputContainer>* {}

#inputMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 6px; */
  /* padding: 8px; */
}

/* #inputContainer input {
  font-size: 18px;
  padding:  16px 12px 12px;
  outline: none;
} */

#messageSubmitButton {
  /* display: none; */
  /* border-radius: 50%; */
  /* border: 1px solid #6A6A6A; */

  font-size: 18px;
}

#messageSubmitButton-icon {
  fill: #E1E1E1;
  fill: #374467;
  stroke: #374467;
  stroke-width: 5px;

  /* border-radius: 50%; */
  /* border: 1px solid #6A6A6A; */

  font-size: 18px;
}

#messageInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  /* height: fit-content; */
  padding: 8px 4px 4px;
  font-size: 18px;

  border-radius: 0;
  outline: none;
}

.message-input-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.message-input-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
}

.message-input-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

#login-modal {
  /* position: fixed; */
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-auto-flow: dense;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 32px;
  /* background: #CC2285DB; */
  z-index: 11;
  color: #EFEFEF;

}

#login-activity-prompt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  padding: 32px;
  /* height: 100%; */
}

#login-modal label {
  padding: 8px;
  font-size: 18px;
  color: #EFEFEF;
}

#usernameInput {
  padding: 8px;
  font-size: 18px;

  z-index: 11;
}

#loginSubmit {
  padding: 8px;
  font-size: 18px;
  z-index: 11;
}

#modalDimmer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #1B264594;
  z-index: 10;
  backdrop-filter: blur(5px);
  /* min-width:100vw;min-height:100vh; */
}

.message {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 100%;
  height: 100%;
  min-height: 100px;
  /* min-width:100vw;min-height:100vh; */
  background: #1B2131;
  border: 1px solid #DCDDDE42;
  color: #EBEBED;
  border-radius: 6px;
  overflow: hidden;
  filter: contrast(105%)
}

.message:active {
  background: #A3B9D0;
}


.messageTop {
  font-weight: 600;
  padding: 8px;
  background: #25262B;

  font-size: 18px;
}

.messageBottom {
  text-align: right;
  padding: 8px;
  font-size: 14px;
}

.messageMiddle {
  padding: 8px;
}