* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #161A34;

  /* background-image: linear-gradient(0deg, #324172, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(37, 37, 63, 1), rgba(255, 25, 255, 0)),
    linear-gradient(to right, rgba(29, 50, 68, 1), rgba(255, 255, 255, 0)); */
  /* background-blend-mode: initial,
     color-dodge,
  difference; */
  /* background-repeat: no-repeat,
      no-repeat,
      no-repeat; */
  /* background-position: bottom right,
      left,
      right; */
}

#app-header {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  padding: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #EBEBED;
}

#app-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;

  width: 100%;
  height: 100%;
  /* background: #161A34; */

  overflow: hidden;
  overflow: scroll;
}

#chatMessages {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 8px;
}

.message {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 100%;
  height: 100%;
  min-height: 100px;
  /* min-width:100vw;min-height:100vh; */
  background: #292F62B8;
  color: #EBEBED;
  border-radius: 6px;
  overflow: hidden;
}

.message:active {
  background: #A3B9D0;
}

#app-footer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 0px;

  width: 100%;
  height: 100%;
  background: #161A34;

  overflow: hidden;
}

#inputMenu {
  padding: 6px;
}

#inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  padding: 8px;
}

#inputContainer input {
  font-size: 18px;
  padding: 6px;
}

#messageSubmitButton {
  font-size: 18px;
}

#messageInput {
  width: 100%;
}



#login-modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 32px;
  /* background: #CC2285DB; */
  z-index: 11;
}

#login-modal label {
  padding: 8px;
  font-size: 18px;
  color: #EFEFEF;
}

#usernameInput {
  padding: 8px;
  font-size: 18px;

  z-index: 11;
}

#loginSubmit {
  padding: 8px;
  font-size: 18px;
  z-index: 11;
}

#modalDimmer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #1B264594;
  z-index: 10;
  backdrop-filter: blur(5px);
  /* min-width:100vw;min-height:100vh; */
}

.messageTop {
  font-weight: 600;
  padding: 8px;
  background: #292F62;

  font-size: 18px;
}

.messageBottom {
  text-align: right;
  padding: 8px;
  font-size: 14px;
}

.messageMiddle {
  padding: 8px;
}
